.input-default{
    width: 450.72px;
    height: 50px;
}

.botao-senha {
    width: 290px;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-left: 4px;
    
    
}

.novo-aqui {
    text-align: center;
    
}

